{{- if .Values.containers -}}
{{- range $containerName, $containerValues :=  .Values.containers }}
{{- if $containerValues.services -}}
{{- range $serviceName, $serviceValues :=  $containerValues.services }}
{{- range $ingressValues :=  $serviceValues.ingress }}
{{- if $ingressValues.enable -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "application.name" $ }}-{{ $serviceName }}-{{ $ingressValues.host | replace "." "-" }}
  labels:
    {{- include "application.labels" $ | nindent 4 }}
  {{- with $ingressValues.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if $ingressValues.ingressClassName }}
  ingressClassName: {{ $ingressValues.ingressClassName }}
  {{- end }}
  tls:
    - hosts:
        - {{ $ingressValues.host | quote }}
      secretName: {{ $ingressValues.host | replace "." "-" }}-certificate
  rules:
    - host: {{ $ingressValues.host | quote }}
      http:
        paths:
          - path: {{ $ingressValues.path }}
            pathType: {{ $ingressValues.pathType }}
            backend:
              service:
                {{- if and $serviceValues.kedaHttpScale $serviceValues.kedaHttpScale.enable }}
                name:  {{ include "application.name" $ }}-{{ $containerName }}-{{ $serviceName }}-keda-proxy
                {{- else }}
                name:  {{ include "application.name" $ }}-{{ $containerName }}-{{ $serviceName }}
                {{- end }}
                port:
                  number: {{ $serviceValues.port }}
---
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
  {{- end }}