# Default values for bitwarden.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: vaultwarden/server
  pullPolicy: IfNotPresent
  tag: "1.23.1"

hostNetwork: false

certManager:
  enabled: true
  clusterIssuer:
    issuerRef: letsencrypt

bitwarden:
  mysql:
    host: mysql-svc.internal.svc.cluster.local
    database: vaultwarden
    userName: bitwarden
    password: bitwarden%40321
  smtp:
    host: smtp.gmail.com
    port: 587
    ssl: true
    userName:
    password:
    fromEmail:
  signup:
    allowed: false
  domain: https://bw.example.com

storage:
  storageClassName: local-path
  capacity: 5G
  persistenentVolume:
    create: false
    localPath: "/opt/data/bitwarden"
    nodeAffinityHostName: "example-node"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

probe:
  enable: "true"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations: {}
  hosts:
    - host: bw.example.com
      paths:
        - path: /
          pathType: Prefix
          backend:
            servicePort: 80
  tls:
    - secretName: bitwarden-letsencrypt-certificate
      hosts:
        - bw.example.com

resources: {}
#  limits:
#    cpu: "1"
#    memory: "1024Mi"
#  requests:
#    cpu: "500m"
#    memory: "512Mi"

nodeSelector: {}

tolerations: []

affinity: {}
