replicaCount: 1

component: dns-server
managedBy: chynten
hostNetwork: false
denyEgress: true
denyExternalIngress: true
allowEgressPorts:

image:
  repository: adguard/adguardhome
  pullPolicy: IfNotPresent
  tag: "v0.107.0-b.5"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

extraLabels:
  tags.datadoghq.com/env: prod

application:

securityContext: {}

resources: {}
overrideProbe: {}

affinity: {}

podAnnotations: {}

# KEDA HTTP Add-on interceptor service configuration (global default)
# The interceptor proxy is installed in the keda namespace by default
kedaHttpScaleDefaults:
  interceptorService: "keda-add-ons-http-interceptor-proxy.keda.svc.cluster.local"
  # If your interceptor is in a different namespace, update this value
  # interceptorService: "keda-add-ons-http-interceptor-proxy.your-namespace.svc.cluster.local"
